<div class="depot_form" >
	<fieldset>
		<legend>Editar Servicios</legend>


<%= render 'form' %>
</fieldset>
</div>
<br />
<%= link_to 'Mostrar', @service %> |
<%= link_to 'Regresar', services_path %>
