<div class="depot_form" >
	<fieldset>
		<legend>Ingrese los Datos Solicitados - Nuevo Servicio</legend>
		<%= render 'form' %>
		
	</fieldset>
</div>
<br />
		<%= link_to 'Regresar', services_path %>
		<br />
