<div class="depot_form" >
	<fieldset>
		<legend>Editar local</legend>


<%= render 'form' %>
</fieldset>
</div>
<br />
<%= link_to 'Mostrar', @local %> |
<%= link_to 'Atras', locals_path %>
