<div class="depot_form" >
	<fieldset>
		<legend>Editar Datos Clientes</legend>


<%= render 'form' %>
</fieldset>
</div>
<br />
<%= link_to 'Mostrar', @user %> |
<%= link_to 'Regresar', users_path %>
