<h1> Bienvenidos</h1>
<br />

Fulbito Facil  ofrece excelentes campos de grass sintetico en las mejores zonas de LIma. Asimismo, brindamos nuestras canchas para el novedoso Futbol 8, y nos complace tener los campos de Lima donde se practica el mejor futbol de menores y futbol femenino.

Visitanos en nuestras dos direcciones, o haz tu reserva de horario a los telefonos y/o correo electronico que aparecen en nuestra web. 
<br /><br />
<marquee behavior="alternate" scrolldelay="300">
<table cellspacing="9px">
<tr >
<td>
<img src="/assets/cancha01.jpg"  class="list_imageh">
</td>
<td>
<img src="/assets/cancha02.jpg"  class="list_imageh">
</td>
<td>
<img src="/assets/cancha03.jpg"  class="list_imageh">
</td>

</tr>
</table>
</marquee>