<div class="depot_form" >
	<fieldset>
		<legend>Editar Clientes</legend>


<%= render 'form' %>

</fieldset>
</div>
<%= link_to 'Mostrar', @customer %> |
<%= link_to 'Regresar', customers_path %>
