<div class="depot_form" >
	<fieldset>
	<legend>Nueva Publicidad</legend>

<%= render 'form' %>
</fieldset>
</div>
<br />
<%= link_to 'Mostrar', @publicity %> |
<%= link_to 'Regresar', publicities_path %>
